<template>
  <section
    class="section">
    <div
      class="container">
      <div
        class="columns is-centered">
        <app-profile-viewer-card
          :profile="profile"
          @edit="goToEdit"/>
      </div>
    </div>
  </section>
</template>

<script>

import AppProfileViewerCard from '@/modules/animo/components/AppProfileViewerCard'

export default {
  components: {
    AppProfileViewerCard
  },
  computed: {
    profile () {
      return this.$store.getters['app/profile']
    },
    options () {
      return this.$store.getters['app/options']
    }
  },
  watch: {
    profile (newValue, oldValue) {
      // TODO if there is not a name go push to edit route
      this.pushEdit(newValue)
    }
  },
  created () {
    const options = {
      navbar: {
        realms: {
          visible: false
        }
      }
    }
    this.$store.dispatch('app/setOptions', options)
    this.pushEdit(this.profile)
  },
  destroyed () {
    // TODO
    // this.$store.commit('app/APP_SET_REALM_BUTTON_VISIBLE', true)
  },
  methods: {
    goToEdit () {
      const options = {
        navbar: {
          realms: {
            visible: false
          }
        }
      }
      this.$store.dispatch('app/setOptions', options)
      this.$router.push('edit')
    },
    cancel () {
      // TODO to the previous state/app
    },
    pushEdit (profile) {
      if (profile !== null) {
        if (profile.name === '') {
          this.$router.push('edit')
        }
      }
    }
  }
}
</script>
