<template>
  <section
    class="section">
    <div
      class="container">
      <div
        class="columns is-centered">
        <div class="column is-4">
          <app-profile-editor-form-card
            v-if="!isLoading"
            :profile="profile"
            @confirm="updateProfile($event)"
            @cancel="goToView"/>
          <p v-if="isLoading">In caricamento...</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppProfileEditorFormCard from '@/modules/animo/components/AppProfileEditorFormCard'

export default {
  components: {
    AppProfileEditorFormCard
  },
  // TODO replace computed with prop
  computed: {
    profile () {
      return this.$store.getters['app/profile']
    },
    isLoading () {
      return this.$store.getters['animo/isWaiting']
    }
  },
  created () {
    const options = {
      navbar: {
        realms: {
          visible: false
        }
      }
    }
    this.$store.dispatch('app/setOptions', options)
  },
  methods: {
    updateProfile ($event) {
      $event.profile.email = 'unknown@revas.app'
      this.$store.dispatch('animo/updateProfile', $event.profile).then(() => {
        console.log($event.profile)
        this.goToView()
      })
    },
    goToView () {
      const options = {
        navbar: {
          realms: {
            visible: true
          }
        }
      }
      this.$store.dispatch('app/setOptions', options)
      this.$router.push('view')
    },
    cancel () {
      // TODO to the previous state/app
    }
  }
}
</script>
