<template>
  <div>
    <div
      v-if="isNotificationVisibile"
      class="notification is-success">
      <button
        class="delete"
        @click="hideNotification"/>
      Il tuo profilo è completo, qua puoi modificarlo, cliccando su modifica, o andare alle tue app.
    </div>
    <div class="has-text-centered">
      <label class="label">{{ $t('ANIMO.PROFILE_VIEWER.NAME') }}</label>
      <p class="subtitle is-6 is-spaced has-text-grey-light test-username">{{ profile ? profile.name : '' }}</p>
      <label class="label is-5">{{ $t('ANIMO.PROFILE_VIEWER.ALIAS') }}</label>
      <p class="subtitle is-6 has-text-grey-light test-alias">@{{ profile ? profile.alias : '' }}</p>
      <label class="label">{{ $t('ANIMO.PROFILE_VIEWER.PICTURE') }}</label>
      <p class="subtitle is-6 is-spaced has-text-grey-light test-username">{{ profile ? profile.picture : '' }}</p>
      <div
        class="is-flex"
        style="justify-content: center; padding-top: 20px">
        <base-button
          @click="edit">
          {{ $t('ANIMO.PROFILE_VIEWER.EDIT') }}
        </base-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    profile: {
      default () {
        return {}
      },
      type: Object
    }
  },
  data () {
    return {
      isNotificationVisibile: true
    }
  },
  methods: {
    edit ($event) {
      // TODO change to edit profile
      this.$emit('edit', $event)
    },
    hideNotification () {
      this.isNotificationVisibile = !this.isNotificationVisibile
    }
  }
}
</script>
