<template>
  <div>
    <div
      v-show="!isProfileComplete"
      class="notification is-warning">
      Il tuo profilo non è ancora completo.
      In questa schermata puoi inserire i tuoi dati.
    </div>
    <div
      class="content has-text-centered">
      <p><strong>Questo è il tuo profilo personale</strong>, lo spazio che ti collega con tutte le realtà di cui fai parte. Il tuo profilo infatti puó essere collegato a piú organizzazioni, se ancora non é presente in Revas potrai crearla successivamente.</p>
    </div>
    <base-input
      v-model="internalProfile.name"
      :label="$t('ANIMO.PROFILE_EDITOR.NAME')"
      class="test-create-user-name-input"/>
    <base-input
      v-model="internalProfile.alias"
      :label="$t('ANIMO.PROFILE_EDITOR.ALIAS')"
      class="test-create-user-name-input"/>
    <base-input
      v-model="internalProfile.picture"
      :label="$t('ANIMO.PROFILE_EDITOR.PICTURE')"
      class="test-create-user-name-input"/>
    <div
      class="is-flex"
      style="justify-content: space-between;">
      <base-button
        :disabled="!isFirstTimeUser"
        class="is-white "
        @click="cancel">
        {{ $t('ANIMO.PROFILE_EDITOR.CANCEL') }}
      </base-button>
      <base-button
        :disabled="!isValid()"
        class="is-primary test-create-realm-card-confirm-button"
        @click="confirm">
        {{ $t('ANIMO.PROFILE_EDITOR.CONFIRM') }}
      </base-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    profile: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      internalProfile: {
        name: '',
        alias: ''
      }
    }
  },
  computed: {
    isFirstTimeUser () {
      return this.$store.getters['app/isProfileComplete']
    },
    isProfileComplete () {
      return this.isFirstTimeUser && this.isValid()
    }
  },
  watch: {
    profile (newValue) {
      if (newValue) {
        this.internalProfile = JSON.parse(JSON.stringify(newValue))
      }
    }
  },
  created () {
    this.internalProfile = JSON.parse(JSON.stringify(this.profile))
  },
  methods: {
    cancel () {
      this.$emit('cancel')
    },
    confirm () {
      this.$emit('confirm', {
        profile: {
          alias: this.internalProfile.alias,
          name: this.internalProfile.name,
          picture: this.internalProfile.picture
        }
      })
    },
    isValid () {
      return this.internalProfile.name !== null && this.internalProfile.name.length > 0 &&
        this.internalProfile.alias !== null && this.internalProfile.alias.length > 0
    },
    isValidEmail (mail) {
      // eslint-disable-next-line
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return this.internalProfile.email !== null && this.internalProfile.email.length > 0 && re.test(mail)
    }
  }
}
</script>
